/* @import './base.css'; */

body{
  background-color: #4498A2;;
  background-image: url('../img/Rectangle 9.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* bac */
  width: 100%;
  height: 100vh;;
  margin: 0px;
  display: flex;
  place-items: center;
  overflow: hidden;
}


#app {
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-height: 100%;;
  height: 100vh;;
  display: grid;
  font-weight: normal;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.column{
  display: flex;
  flex-direction: column;
}
button{
  cursor: pointer;
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url('../fonts/Gilroy/Gilroy-ExtraBold.ttf');
}

@font-face {
  font-family: "Gilroy-Light";
  src: url('../fonts/Gilroy/Gilroy-Light.ttf');
}


.red{
  background-color: RED;
}
